@import './../../variables.scss';

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: $background_color;
}

.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;

	.footerPlaceholder {
		height: 50px;
    	width: 100%;
		margin-bottom: 20px;
	}

	.cardList {
		max-width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
		gap: 5px;		
	}

	.loadingWrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}
}
