@import './../../variables.scss';

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.page {
	background-color: $background_color;
	display: flex;
	flex-direction: column;
	width: 100%;

	.cardList {
		display: flex;
		position: relative;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		margin: auto;
		max-width: 1520px;
	}
}
