@import './../../mixins.scss';
@import './../../variables.scss';

.addCardFormWrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;

	@keyframes openModal {
		from {
			opacity: 0;
			transform: scale(0.8);
		}
		to {
			opacity: 1;
			transform: scale(1);
		}
	}

	.addCardForm {
		position: fixed;
		align-items: center;
		display: flex;
		width: 500px;
		height: 600px;
		display: flex;
		flex-direction: column;
		border-radius: 15px;
		background-color: $primary_color;
		box-shadow: 0px 0px 20px #2ea19b76;
		animation-duration: 0.3s;
		animation-fill-mode: forwards;
		animation-name: openModal;

		.closeButton {
			fill: #2ea19c;
			margin: 15px;
			position: absolute;
			right: 0;
			transition: fill 0.5s ease, filter 0.5s ease;
			cursor: pointer;

			&:hover {
				fill: black;
				filter: drop-shadow(0px 0px 5px #2ea19bc3);
			}
		}

		.mainText {
			color: #2ea19c;
			font-size: 23px;
			font-weight: 600;
			margin: 20px 10px 40px 10px;
		}

		.inputs {
			width: 400px;
			height: 30px;
			font-size: 18px;
			padding: 10px;
			margin: 0px 10px 20px 10px;
			border: none;
			border-radius: 10px;
			background-color: $background_color;
			color: whitesmoke;
			transition: box-shadow 0.3s ease;

			&:focus {
				box-shadow: 0px 0px 20px #2ea19b76;
				outline: none;
			}
		}

		.inputComment {
			height: 100px;
			resize: none;
		}

		.statusRadioWrapper {
			margin: 0px 10px 20px 10px;
			padding: 10px 10px 10px 0px;
			border-radius: 15px;
			color: #2ea19c;
			width: 400px;
			background-color: $background_color;

			.radioLabelStatus {
				background-color: #191d24;
				padding: 10px 10px 10px 20px;
				margin: 10px 0px 10px 0;
				border-radius: 15px 0px 0px 15px;
			}

			& > label {
				margin: 10px;
				padding: 10px 0px 10px 0px;
				cursor: pointer;

				& > input:checked + .radioText {
					color: whitesmoke;
				}
			}
		}

		.dateTimePicker {
			margin-bottom: 20px;
			background-color:rgba(37, 37, 37, 0.5);
			
		}

		.submitButton {
			width: 130px;
			height: 40px;
			font-weight: 700;
			text-transform: uppercase;
			color: #2ea19c;
			letter-spacing: 2px;
			background-color: $background_color;
			border: none;
			border-radius: 15px;
			box-shadow: 0px 0px 20px #2ea19b76;
			transition: box-shadow 0.3s ease;
			cursor: pointer;

			&:hover {
				box-shadow: 0px 0px 40px #2ea19b76;
			}
		}

		.errorMessage {
			padding: 5px;
			margin: 0px 10px 40px 10px;
			height: 21px;
			color: #2ea19c;
		}
	}
}
